<div class="container" *ngIf="freelancerDetails" [class.editContainer]="isEditing">
  <div>
    <div id="info-div" *ngIf="isSuccess">
      <div class="alert alert-success d-flex align-items-center justify-content-between mb-15" role="alert">
        <div class="flex-fill mr-10">
          <p class="mb-0" id="info-message">{{message1}}</p>
        </div>
      </div>
    </div>
    <div id="alert-div" *ngIf="isAlert">
      <div class="alert alert-warning d-flex align-items-center justify-content-between mb-15" role="alert">
        <div class="flex-fill mr-10">
          <p class="mb-0" id="alert-message">{{alert1}}</p>
        </div>
      </div>
    </div>
    <div id="error-div" *ngIf="isError">
      <div class="alert alert-danger d-flex align-items-center justify-content-between mb-15" role="alert">
        <div class="flex-fill mr-10" id="error-message">
          <p class="mb-0">Aconteceu um erro inesperado. Por favor, entre em contato com o seu administrador do sistema.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="edit">
    <button *ngIf="!isEditing" (click)="startUpdate()">Editar Perfil</button>
    <button *ngIf="!isEditingUser" (click)="startUpdateUser()">Editar email/passorwd</button>
    <button *ngIf="isEditing || isEditingUser" (click)="cancelEditing()">Cancelar</button>
  </div>
  <div [formGroup]="formGroup">
    <div class="foto" *ngIf="!isEditingUser">
      <div class="profile">
        <img [src]="freelancerDetails.photo || '../../assets/perfil1.png'" alt="imageProfile" class="imageProfile">
      </div>
      <div class="details">
        <h1>{{ freelancerDetails.firstName }} {{ freelancerDetails.lastName }}</h1>
        <mat-form-field *ngIf="isEditing">
          <mat-label>First Name:</mat-label>
          <input matInput formControlName="firstName">
        </mat-form-field>

        <mat-form-field style="margin-left: 20px;" *ngIf="isEditing">
          <mat-label>Last Name:</mat-label>
          <input matInput formControlName="lastName">
        </mat-form-field>

        <p><strong>Descrição:</strong> {{ freelancerDetails.description }}</p>
        <mat-form-field class="editingDescription" *ngIf="isEditing">
          <mat-label>Description:</mat-label>
          <textarea matInput formControlName="description"></textarea>
        </mat-form-field>
      </div>
    </div>
    <div class="additional-details" *ngIf="!isEditingUser">
      <p *ngIf="!isEditing"><strong>email:</strong> {{ freelancerDetails.email }}</p>

      <p><strong>Morada:</strong> {{ freelancerDetails.address }}</p>
      <mat-form-field *ngIf="isEditing">
        <mat-label>Morada:</mat-label>
        <input matInput formControlName="address">
      </mat-form-field>

      <p><strong>Data de Nascimento:</strong> {{ freelancerDetails.birthdate | date:'yyyy-MM-dd' }}</p>
      <mat-form-field *ngIf="isEditing">
        <mat-label for="birthdate">Data de Nascimento:</mat-label>
        <input matInput [matDatepicker]="picker" id="birthdate" name="birthdate" formControlName="birthdate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker startView="multi-year"></mat-datepicker>
      </mat-form-field>

      <p><strong>Numero Telemóvel:</strong> {{ freelancerDetails.phoneNumber }}</p>
      <mat-form-field *ngIf="isEditing">
        <mat-label>Phone Number:</mat-label>
        <input matInput formControlName="phoneNumber">
      </mat-form-field>

      <p><strong>Distrito:</strong> {{ freelancerDetails.districtName ?? 'Sem concelho associado' }}</p>
      <mat-form-field *ngIf="isEditing">
        <mat-label>Selecione o Distrito</mat-label>
        <mat-select formControlName="districtId">
          <mat-option *ngFor="let district of districts" [value]="district.value">
            {{ district.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <p><strong>Concelho:</strong> {{ freelancerDetails.countyName ?? 'Sem concelho associado' }}</p>
      <mat-form-field *ngIf="isEditing">
        <mat-label>Selecione o Concelho</mat-label>
        <mat-select formControlName="countyId">
          <mat-option *ngFor="let county of counties" [value]="county.value">
            {{ county.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="editButtons" *ngIf="isEditing">
      <button (click)="updateFreelancer()">Salvar</button>
      <button style="margin-left: 20px;" (click)="cancelEditing()">Cancelar</button>
    </div>
  </div>

  <div class="containerUser" *ngIf="isEditingUser">
    <h1>Altere o email e a Password</h1>
    <p><strong>email:</strong> {{ freelancerDetails.email }}</p>
    <mat-form-field class="serviceName">
      <mat-label>Email:</mat-label>
      <input matInput [(ngModel)]="email">
    </mat-form-field>

    <mat-form-field class="serviceName">
      <mat-label for="password">Password Antiga:</mat-label>
      <input matInput type="{{ hidePassword ? 'password' : 'text' }}" id="password" [(ngModel)]="oldPassword">
      <button mat-icon-button matSuffix (click)="togglePasswordVisibility()">
        <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field class="serviceName">
      <mat-label for="password">Nova Password:</mat-label>
      <input matInput type="{{ hideNewPassword ? 'password' : 'text' }}" id="newPassword" [(ngModel)]="newPassword">
      <button mat-icon-button matSuffix (click)="toggleNewPasswordVisibility()">
        <mat-icon>{{ hideNewPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </mat-form-field>


    <mat-form-field class="serviceName">
      <mat-label for="confirmPassword">Confirmar nova Password</mat-label>
      <input matInput type="{{ hideConfirmPassword ? 'password' : 'text' }}" id="confirmPassword" name="confirmPassword"
        [(ngModel)]="confirmNewPassword">
      <button mat-icon-button matSuffix (click)="toggleConfirmPasswordVisibility()">
        <mat-icon>{{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </mat-form-field>
    <div>
      <button (click)="updateUser()">Alterar Email/Password</button>
      <button style="margin-left: 20px" (click)="cancelEditing()">Cancelar</button>
    </div>
  </div>
</div>