<div class="agendar-container" [formGroup]="formGroup">
  <div class="container">
    <div>
      <div id="info-div" *ngIf="isSuccess">
        <div class="alert alert-success d-flex align-items-center justify-content-between mb-15" role="alert">
          <div class="flex-fill mr-10">
            <p class="mb-0" id="info-message">{{message1}}</p>
          </div>
        </div>
      </div>
      <div id="alert-div" *ngIf="isAlert">
        <div class="alert alert-warning d-flex align-items-center justify-content-between mb-15" role="alert">
          <div class="flex-fill mr-10">
            <p class="mb-0" id="alert-message">{{alert1}}</p>
          </div>
        </div>
      </div>
      <div id="error-div" *ngIf="isError">
        <div class="alert alert-danger d-flex align-items-center justify-content-between mb-15" role="alert">
          <div class="flex-fill mr-10" id="error-message">
            <p class="mb-0">Aconteceu um erro inesperado. Por favor, entre em contato com o seu administrador do
              sistema.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="agendar-content">
      <mat-form-field>
        <mat-label>Tipo de serviço</mat-label>
        <mat-select formControlName="serviceType">
          <mat-option *ngFor="let service of serviceTypes" [value]="service.value">
            {{ service.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Selecione o Distrito</mat-label>
        <mat-select formControlName="district">
          <mat-option *ngFor="let district of districts" [value]="district.value">
            {{ district.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Selecione o Concelho</mat-label>
        <mat-select formControlName="county">
          <mat-option *ngFor="let county of counties" [value]="county.value">
            {{ county.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Data</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date" />
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Hora Início</mat-label>
        <mat-select formControlName="startTime">
          <mat-option *ngFor="let time of pickUpTimeOptions" [value]="time.value">
            {{ time.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Hora Fim</mat-label>
        <mat-select formControlName="endTime">
          <mat-option *ngFor="let time of pickUpTimeOptions" [value]="time.value">
            {{ time.viewValue }}
          </mat-option>
        </mat-select>

      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="address">
        <mat-label>Morada</mat-label>
        <input matInput formControlName="address" />
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Código Postal</mat-label>
        <input matInput formControlName="postalCode" pattern="\d{4}-\d{3}" />
      </mat-form-field>

      <div class="agendar-filter-action">
        <button class="buttonGetFree" (click)="getFreelancers()">
          Procurar freelancer
        </button>
      </div>
    </div>




    <div class="listFreelancers" *ngIf="listFreelancer === true">
      <div *ngFor="let freelancer of freelancers; let i = index" class="freelancer-item" [class.gray-bg]="i % 2 !== 0"
        [class.editing]="editingIndex === i">
        <div class="freelancer-details">
          <div class="left">
            <div class="divImage">
              <div class="freelancer-description"> <img [src]="freelancer.photo || '../../assets/perfil1.png'" alt="">
              </div>
            </div>
            <div>
              <div class="freelancer-name">Id: {{ freelancer.id}}</div>
              <div class="freelancer-name">Nome: {{ freelancer.firstName }} {{ freelancer.lastName }}</div>
              <div class="freelancer-name">Data Nascimento: {{ freelancer.birthdate | date:'yyyy-MM-dd'}}</div>
              <div class="freelancer-description">Descrição: {{ freelancer.description }}</div>
            </div>
          </div>
          <div class="divPrice">
            <div>
              <h1>Preço por hora: <br> {{ freelancer.pricePerHour}} €</h1>
              <button (click)="selectFreelancer(freelancer, i)">Selecionar Freelancer</button>
            </div>
          </div>

        </div>
      </div>
      <div *ngIf="listFreelancer === true">
        <mat-paginator [length]="totalResults" [pageSize]="10" (page)="onPageChange($event)"></mat-paginator>
      </div>
    </div>
    <div *ngIf="noFreelancers === true" class="noFreelancers">
      <h1>Não temos freelancers disponiveis para os dados indicados</h1>
    </div>

    <div *ngIf="formGroup.get('serviceType').value === 1 && selectedFreelancer !== null"
      [formGroup]="formGroupResidential">
      <h1>Limpeza Residencial, por favor, forneça algumas características do imóvel...</h1>
      <div class="agendar-limpeza-content">
        <div class="agendar-limpeza-content-left">
          <div style="margin-top: 2rem">Selecione o tipo de imóvel</div>
          <div class="mat-form-group-two">
            <mat-radio-group aria-label="Select an option" formControlName="propertyTypeR">
              <mat-radio-button value="apartamento">Apartamento</mat-radio-button>
              <mat-radio-button value="moradia">Moradia</mat-radio-button>
            </mat-radio-group>
          </div>
          <div style="margin-top: 2rem">
            Qual tamanho do imóvel em que serão realizados os serviços de limpeza?
          </div>
          <div class="mat-form-group-two">
            <mat-radio-group aria-label="Select an option" formControlName="sizeM2R">
              <mat-radio-button value="40">Até 40m2 </mat-radio-button>
              <mat-radio-button value="40-80">Entre 40m2 e 80m2</mat-radio-button>
              <mat-radio-button value="80-135">Entre 80m2 e 135m2</mat-radio-button>
              <mat-radio-button value="+135">Acima de 135 m2</mat-radio-button>
            </mat-radio-group>
          </div>

        </div>
        <div class="agendar-limpeza-content-right">
          <div style="margin-top: 2rem">Quantas casas de banho possui o imóvel?</div>
          <div>
            <mat-radio-group aria-label="Select an option" formControlName="bathroomQuantityR">
              <mat-radio-button value="1">1 </mat-radio-button>
              <mat-radio-button value="2">2</mat-radio-button>
              <mat-radio-button value="3">3</mat-radio-button>
              <mat-radio-button value="4">4+</mat-radio-button>
            </mat-radio-group>
          </div>
          <div style="margin-top: 2rem">
            Deseja adicionar serviços de engomadoria?
          </div>
          <div>
            <mat-radio-group aria-label="Select an option" formControlName="ironingServicesR">
              <mat-radio-button value="Não">Não</mat-radio-button>
              <mat-radio-button value="1">1 hora</mat-radio-button>
              <mat-radio-button value="2">2 horas</mat-radio-button>
            </mat-radio-group>
          </div>
          <div style="margin-top: 2rem">Há animais de estimação no imóvel?</div>
          <div>
            <mat-radio-group aria-label="Select an option" formControlName="petFriendlyR">
              <mat-radio-button value="Não">Não</mat-radio-button>
              <mat-radio-button value="Sim">Sim</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="formGroup.get('serviceType').value === 2 && selectedFreelancer !== null"
      [formGroup]="formGroupCommercial">
      <h1>Limpeza Comercial, por favor, forneça algumas características do imóvel...</h1>
      <div class="agendar-limpeza-content">
        <div class="agendar-limpeza-content-left">
          <div style="margin-top: 2rem">
            Selecione o tipo de imóvel:
          </div>
          <div>
            <mat-radio-group aria-label="Select an option" formControlName="propertyTypeC">
              <mat-radio-button value="loja">Loja</mat-radio-button>
              <mat-radio-button value="escritorio">Escritório</mat-radio-button>
              <mat-radio-button value="fabrica">Fábrica</mat-radio-button>
            </mat-radio-group>
          </div>

          <div style="margin-top: 2rem">
            Qual tamanho do imóvel em que serão realizados os serviços de limpeza?
          </div>
          <div class="mat-form-group-two">
            <mat-radio-group aria-label="Select an option" formControlName="sizeM2C">
              <mat-radio-button value="60">Até 60m2 </mat-radio-button>
              <mat-radio-button value="60-100">Entre 60m2 e 100m2</mat-radio-button>
              <mat-radio-button value="100-160">Entre 100m2 e 160m2</mat-radio-button>
              <mat-radio-button value="+160">Acima de 160 m2</mat-radio-button>
            </mat-radio-group>
          </div>
          <div style="margin-top: 2rem">Quantas casas de banho possui o escritório?</div>
          <div>
            <mat-radio-group aria-label="Select an option" formControlName="bathroomQuantityC">
              <mat-radio-button value="1">1 </mat-radio-button>
              <mat-radio-button value="2">2</mat-radio-button>
              <mat-radio-button value="3">3</mat-radio-button>
              <mat-radio-button value="4">4+</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        <div class="agendar-limpeza-content-right">
          <div style="margin-top: 2rem">
            Quantos vestiários o imóvel possui?
          </div>
          <div>
            <mat-radio-group aria-label="Select an option" formControlName="changingRoomsC">
              <mat-radio-button value="0">0</mat-radio-button>
              <mat-radio-button value="1">1</mat-radio-button>
              <mat-radio-button value="2">2</mat-radio-button>
              <mat-radio-button value="3">3</mat-radio-button>
              <mat-radio-button value="4+">4+</mat-radio-button>
            </mat-radio-group>
          </div>

          <div style="margin-top: 2rem">
            Deseja incluir limpeza de janelas?
          </div>
          <div>
            <mat-radio-group aria-label="Select an option" formControlName="windowCleaningC">
              <mat-radio-button value="Não">Não</mat-radio-button>
              <mat-radio-button value="Sim">Sim</mat-radio-button>
            </mat-radio-group>
          </div>
          <div style="margin-top: 2rem">Outros cenários ou informações adicionais:</div>
          <div>
            <textarea matInput formControlName="otherScenariosC" placeholder="Insira dados revelantes"></textarea>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="formGroup.get('serviceType').value === 3 && selectedFreelancer !== null" [formGroup]="formGroupPosObra">
      <h1>Limpeza Pós-Obra, por favor, forneça algumas características do imóvel...</h1>
      <div class="agendar-limpeza-content">
        <div class="agendar-limpeza-content-left">
          <div style="margin-top: 2rem">Selecione o tipo de imóvel</div>
          <div class="mat-form-group-two">
            <mat-radio-group aria-label="Select an option" formControlName="propertyTypeP">
              <mat-radio-button value="apartamento">Apartamento</mat-radio-button>
              <mat-radio-button value="moradia">Moradia</mat-radio-button>
            </mat-radio-group>
          </div>

          <div style="margin-top: 2rem">
            Qual tamanho do imóvel em que serão realizados os serviços de limpeza?
          </div>
          <div class="mat-form-group-two">
            <mat-radio-group aria-label="Select an option" formControlName="sizeM2P">
              <mat-radio-button value="60">Até 60m2 </mat-radio-button>
              <mat-radio-button value="60-100">Entre 60m2 e 100m2</mat-radio-button>
              <mat-radio-button value="100-160">Entre 100m2 e 160m2</mat-radio-button>
              <mat-radio-button value="+160">Acima de 160 m2</mat-radio-button>
            </mat-radio-group>
          </div>
          <div style="margin-top: 2rem">Quantas casas de banho possui o Imovel?</div>
          <div>
            <mat-radio-group aria-label="Select an option" formControlName="bathroomQuantityP">
              <mat-radio-button value="1">1 </mat-radio-button>
              <mat-radio-button value="2">2</mat-radio-button>
              <mat-radio-button value="3">3</mat-radio-button>
              <mat-radio-button value="4">4+</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        <div class="agendar-limpeza-content-right">
          <div style="margin-top: 2rem">
            Há mobilia no imovel?
          </div>
          <div>
            <mat-radio-group aria-label="Select an option" formControlName="furnitureP">
              <mat-radio-button value="Não">Não</mat-radio-button>
              <mat-radio-button value="Sim">Sim</mat-radio-button>
            </mat-radio-group>
          </div>

          <div style="margin-top: 2rem">
            Deseja incluir limpeza de janelas?
          </div>
          <div>
            <mat-radio-group aria-label="Select an option" formControlName="windowCleaningP">
              <mat-radio-button value="Não">Não</mat-radio-button>
              <mat-radio-button value="Sim">Sim</mat-radio-button>
            </mat-radio-group>
          </div>
          <div style="margin-top: 2rem">Outros cenários ou informações adicionais:</div>
          <div>
            <textarea matInput formControlName="otherScenariosP" placeholder="Insira dados revelantes"></textarea>
          </div>
        </div>
      </div>
    </div>

    <div class="agendar-filter-action">
      <button class="buttonGetFree" (click)="saveScheduling()"> Confirmar Agendamento </button>
    </div>
  </div>