<div>
  <div class="home-page-welcome">
    <div>
      <h1>Bem-vindo ao nosso serviço de freelancer</h1>
      <p>
        Quer seja para manter a sua casa impecável ou garantir que seus filhos e
        animais de estimação sejam bem cuidados, conte connosco. Com os nossos
        freelancers de limpeza, seu espaço vai brilhar como nunca antes. E se
        você tem filhos ou peludos de quatro patas, não se preocupe – nossos
        profissionais garantirão que eles recebam todo o amor e atenção que
        merecem.
      </p>
    </div>
    <div class="gallery">
      <app-list-freelancers></app-list-freelancers>
    </div>
    
  </div>
  <div class="home-page-how-works">
    <h1 class="home-page-how-works-title">Como funciona?</h1>
    <div class="home-page-how-works-first-row">
      <app-icon-cursor-finger></app-icon-cursor-finger> Escolha o tipo de
      serviço que deseja contratar
    </div>
    <div class="home-page-how-works-second-row">
      <app-icon-list-check></app-icon-list-check> Forneça os detalhes
      necessários para que possamos apresentar os profissionais mais adequados
      às suas necessidades
    </div>
    <div class="home-page-how-works-third-row">
      <app-icon-address-book></app-icon-address-book> Escolha o profissional
      certo e agende o serviço
    </div>
  </div>
  <div class="home-page-why">
    <h1>Por que usar os nossos serviços?</h1>
    <div class="home-page-why-content">
      <div>
        <h2>Experiência e Competência</h2>
        <p>
          Contamos com uma equipe experiente e qualificada, garantindo que cada
          serviço seja executado com eficiência, habilidade e qualidade. Podemos
          lidar com uma variedade de necessidades e desafios, proporcionando aos
          clientes a confiança de que estão em boas mãos.
        </p>
      </div>
      <div>
        <h2>Foco na Satisfação do Cliente</h2>
        <p>
          Valorizamos profundamente nossos clientes e nos esforçamos para
          oferecer um atendimento ao cliente excepcional. Estamos sempre prontos
          para ouvir as preocupações, responder a perguntas e garantir que cada
          cliente se sinta valorizado e satisfeito. Nosso compromisso com a
          excelência no atendimento ao cliente é uma das razões pelas quais os
          clientes continuam a escolher nossos serviços.
        </p>
      </div>
      <div>
        <h2>Personalização e Flexibilidade</h2>
        <p>
          Reconhecemos que cada cliente é único, e adaptamos nossos serviços
          para atender às necessidades individuais de cada um. Seja uma limpeza
          personalizada, cuidados específicos com crianças, animais de estimação
          ou outros requisitos especiais, estamos dispostos a ajustar nossos
          serviços para satisfazer as expectativas únicas de cada cliente. A
          flexibilidade é uma prioridade para nós.
        </p>
      </div>
      <div>
        <h2>Profissionalismo</h2>
        <p>
          Nossa empresa se destaca pelo profissionalismo exemplar em todos os
          aspectos dos nossos serviços. Desde a primeira interação até a
          conclusão do trabalho, nossos clientes podem esperar um atendimento
          cortês, confiável e dedicado.
        </p>
      </div>
    </div>
    <div class="home-page-why-rating">
      <h1>As avaliações aos especialistas UPLIFE.PT</h1>
      <div>As avaliações aos especialistas</div>
      <div>4.8/5</div>
      <div>Baseado em +750 avaliações verificadas</div>
      <h1>
        Deixe sua avaliação e ajude-nos a contruir uma rede de freelancers cada
        vez mais confiável e justa.
      </h1>
      <app-rating></app-rating>
    </div>
  </div>
</div>
